<section id="contact">


    <div class="container">
        ...
    </div>



    <div class="container">

        <h2 class="section-title wow fadeInUp">Bana Yazın</h2>
        <div class="spacer" data-height="60"></div>

        <div class="row">

            <div class="col-md-4">
                <div class="contact-info">
                    <h3 class="wow fadeInUp">İletişim İçin Mesaj Atın</h3>
                    <p class="wow fadeInUp">
                        Mail Göndermek İsterseniz : 
                        <a href="mailto:name@example.com">email</a>. 👋
                    </p>
                </div>
            </div>

            <div class="col-md-8">

                <form method="post" action="/Message/SendMessage" class="contact-form">

                    @if (TempData["MessageStatus"] != null)
                    {
                        <div class="alert alert-success mb-4">
                            Mesajınız başarıyla gönderildi 👌
                        </div>
                    }

                    <div class="row">

                        <div class="column col-md-6">
                            <div class="form-group">
                                <input type="text" name="NameSurname" placeholder="Adınız Soyadınız" required>
                            </div>
                        </div>

                        <div class="column col-md-6">
                            <div class="form-group">
                                <input type="email" name="Email" placeholder="Mail Adresiniz" required>
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <div class="form-group">
                                <input type="text" name="Subject" placeholder="Konu" required>
                            </div>
                        </div>

                        <div class="column col-md-12">
                            <div class="form-group">
                                <textarea name="MessageDetail" rows="5" placeholder="Mesajınız" required></textarea>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-default">
                        Mesaj Gönder
                    </button>

                </form>



            </div>

        </div>

    </div>

</section>

<div class="spacer" data-height="96"></div>
